{
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": {
          "node": "current"
        }
      }
    ]
  ],
  "plugins": [
    [
      "module-resolver",
      {
        "root": ["./src"],
        "alias": {
          "@config": "./src/config",
          "@third-party": "./src/third-party",
          "@graphql": "./src/graphql",
          "@middlewares": "./src/middlewares"
        }
      }
    ]
  ]
}
